
<!DOCTYPE html>

<html lang="fa">

<partial name="_AdminHead"/>

@await RenderSectionAsync("Css",false)

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
	


	<partial name="_AdminMainHeader"/>
	<partial name="_AdminSideBar"/>
	

	<div class="content-wrapper">

			<section class="content-header ">
				
				<div class="align-items-center">
					
					<h2 class="display-2 " style="margin-right: 10px">@ViewData["Title"]</h2>

					<ol class="breadcrumb">
						<li><a href="/"><i class="fa fa-dashboard"></i> خانه</a></li>
						<li class="active">@ViewData["Title"]</li>
					</ol>

				</div>
					
			</section>

		@await RenderSectionAsync("HeaderContent", false)


		@RenderBody()
	</div>

	<partial name="_AdminFooter"/>

</div>

	

<partial name="_AdminScripts"/>
 
@await RenderSectionAsync("Scripts",false)
</body>

</html>