@using System.Diagnostics.Eventing.Reader
@model int 
@{
    ViewData["Title"] = "Home Page";
	
}
@if (Model != 0)
{
	<h1 class=" text-danger">userId : @Model</h1>
}

@if (Context.User.Identity.IsAuthenticated)
{
	<a class="btn btn-danger" asp-action="Logout">sign out</a>
}
else
{
	<a class="btn btn-primary" asp-action="SignIn">sign in</a>
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
