@model List<Users.Application.Dtos.UserDtos.UserDto>? 
@{
	Layout = "_AdminLayout";
	ViewData["Title"] = "صفحه ادمین";
}


<section class="content-header">
	<h1>
		داشبرد
		<small>ورژن ۲</small>
	</h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-dashboard"></i> خانه</a></li>
		<li class="active">داشبرد</li>
	</ol>
</section>