
<!DOCTYPE html>
<html>

<partial name="_AdminHead"/>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
	  
<partial name="_AdminMainHeader"/>

<partial name="_AdminSideBar"/>

<div class="content-wrapper">

@RenderBody

<!-- /.content -->
</div>

<partial name="_AdminFooter"/>

</div>
  
<partial name="_AdminScripts"/>
 
</body>

</html>