
<!DOCTYPE html>

<html lang="fa">

<partial name="_AdminHead"/>

@await RenderSectionAsync("Css",false)

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

	<partial name="_AdminMainHeader"/>
	<partial name="_AdminSideBar"/>

	<div class="content-wrapper">
		@RenderBody()
	</div>

	<partial name="_AdminFooter"/>

</div>
  
<partial name="_AdminScripts"/>
 
@await RenderSectionAsync("Scripts",false)
</body>

</html>