<div class="login-page">
	<div class="form">

		<form class="login-form" asp-action="Activation"method="post">
			<input type="password" placeholder="رمز شش رقمی را وارد کنید" />

			<button type="submit">ورود </button>

		</form>
	</div>
</div>