@model string
<div class="form-group">
	<label asp-for="@Model"></label>
	<textarea class="form-control" style="width: 650px; height:150px" asp-for="@Model"></textarea>
	<span class="text-danger" asp-validation-for="@Model" class="text-danger"></span>
</div>

