@using Shared.Application.Utility
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Blogs1.Application.Contract.BlogCategoryService.Command.CreateBlogCategory
@{
	long parentId = (long)(ViewData["ParentId"] ?? (long)0);
}
<form asp-action="Create" onsubmit="sweetAlertConfirmSubmit(event)" method="post"  enctype="multipart/form-data">
	<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title" id="createBlogCategoryModal">دسته بندی جدید</h5>

		</div>
		<div class="modal-body">
			<div class="form-group">
				@if (parentId >0)
				{
					<input type="hidden" name="ParentId" id="ParentId" value="@parentId" />
				}
				<div class="form-group">
					<label asp-for="Title"></label>
					<input asp-for="Title" class="form-control" onchange="makeSlu3g('Title','Slug')" />
					<span class="text-danger" asp-validation-for="Title"  class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Slug"></label>
					<input asp-for="Slug" class="form-control" />
					<span class="text-danger" asp-validation-for="Slug" class="text-danger"></span>
				</div>
				<br><br>
				<img id="img_preview" src="@Directories.GetBlogCategoryImageFullPath(@Model?.ImageName ?? null, 100)" height="100" width="100"  />
				<br><br>
				@Html.EditorFor(x => x.ImageFile)
				@Html.EditorFor(x => x.ImageAlt)

			</div>

		</div>
		<div class="modal-footer">
			<a type="button" asp-action="Index" onclick="sweetAlertConfirmLink(event,'آیا مطمعنید؟')" class="btn btn-secondary" data-dismiss="modal">انصراف</a>
			<button type="submit"  class="btn btn-primary">افزودن</button>
		</div>
	</div>
</form>

<script>

	//event listener for input type file for preventing choosing any file except image file before user submit the form
	document.getElementById('file_input').addEventListener('change', function(event) {
		const file = event.target.files[0];
		if (validateImageFile(file)) {
			if (file && file.type.startsWith('image/')) {
				const reader = new FileReader();
				reader.onload = function(e) {
					const img = document.getElementById('img_preview');
					img.src = e.target.result;
					img.style.display = 'block';
				};
				reader.readAsDataURL(file);
			}
		}
			
	});

	function validateImageFile(file) {
		const allowedImageTypes = ['image/jpeg', 'image/png', 'image/gif', 'image/bmp', 'image/webp'];
		if (allowedImageTypes.includes(file.type)) {
			return true;
		} else {
			ErrorAlert('تصویر نامعتبر!', 'لطفا تصویر معتبر که پسوند های jpeg,png,bmp,webp داشته باشد انتخاب کنید');
			
			return false;
		}
	}
	

	function sweetAlertConfirmSubmit(event, text) {

		console.log(text);
		event.preventDefault();
		if (text == "")
			text = "آیا از انجام عملیات اطمینان دارید ؟";
		Swal.fire({
			title: "هشدار !!",
			text: text,
			icon: "warning",
			confirmButtonText: "بله",
			showCancelButton: true,
			cancelButtonText: "خیر",
		}).then((willConfirm) => {
			if (willConfirm.value) {
				event.target.submit();
			} else {
				return;
			}
		});
	}

</script>


