@using Shared.Domain.Enums
@using Shared.Application.Utility
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Emails.Application.Contract.SendEmailApplication.Command.CreateSendEmail
@{
	ViewData["Title"] = "افزودن ایمیل جدید";
	ViewData["Selected"] = "SendEmails";
}

<form class="col col-12" style="margin-right: 200px; margin-left: 200px" asp-action="Create" method="post" onsubmit="sweetAlertConfirmSubmit(event)" enctype="multipart/form-data">

	
	@Html.EditorFor(x=> x.Title)
	@Html.EditorFor(x=> x.Text)
	
	<button type="submit" class="btn btn-success">
		ثبت
	</button>
	<a class="btn btn-danger "asp-action="Index" onclick="sweetAlertConfirmLink(event,'آیا مطمعنید؟')">
		انصراف
	</a>

</form>