@model  Query.Contract.Admin.SendEmail.SendEmailAdminQueryModel
@{

	ViewData["Title"] = "جزییات ایمیل";
	ViewData["Selected"] = "SendEmails"; 

}

@if (Model != null)
{
	<div class="row">
		<div class="col-xs-12">
			<div class="box">
				<div class="box-header">
				</div>
				<div class="box-body">
					

					<dl class="dl-horizontal">
						<hr/>
						<dt>
							عنوان :
						</dt>
						<dd>
							@Model.Title
						</dd>
						<hr />

						<dt>
							تاریخ نوشته شدن ایمیل :
						</dt>
						<dd>
							@Model.CreateDate
						</dd>
						<hr />

						<dt>
							متن کامل :
						</dt>
						<dd>
							@Html.Raw(@Model.Text)
						</dd>
						<hr/>

					</dl>
				</div>
				<hr/>
				<a class="btn btn-danger col-lg-6 "style="margin-right : 10px" asp-action="Index">بازگشت</a>
			</div>
		</div>
		
	</div>
}
else
{
	<h1>مشکلی پیش آمده.. دوباره امتحان کنید</h1>
}
