@model FilteredBlogQueryModel
@using Blogs1.Application.Contract.BlogCategoryService.Query
@using Blogs1.Application.Contract.BlogService.Query
@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
	ViewData["Title"] = "مقالات";
	ViewData["Selected"] = "Blog";
	Layout = "Blog/_BlogLayout";
	
}

<!-- Featured Posts Grid -->
@await Component.InvokeAsync("SpecialBlogs")

<div class="main-container container pt-24" id="main-container">

	<!-- Content -->
<div class="row">

<!-- Posts -->
<div class="col-lg-8 blog__content">

<!-- Latest News -->

@await Component.InvokeAsync("LastBlogTitles")
		</div> <!-- end posts -->
<!-- Sidebar -->
<aside class="col-lg-4 sidebar sidebar--right">

	<!-- Widget Popular Posts -->
	@await Component.InvokeAsync("PopularBlogs")
	<partial name="Blog/_BlogNewsLetter" />
	@await Component.InvokeAsync("BlogLeftBaner")

</aside> <!-- end sidebar -->
	
</div>
	<!-- Ad Banner 728 -->
@await Component.InvokeAsync("BlogMidBaner")

	
	<div class="row" id="NewsBlogs">

		<partial name="Blog/_BlogNewsPartial" model="Model"/>
		

		<!-- Sidebar 1 -->
		<aside class="col-lg-4 sidebar sidebar--1 sidebar--right">

			@await Component.InvokeAsync("BlogWidgetCategories")

			
		
		</aside> <!-- end sidebar 1 -->
	</div> 


</div> <!-- end main container -->

	@section Scripts
	{

	}
