<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] -تست </title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="/assets/login/css/login.css" />
	<link rel="stylesheet" href="/assets/sweet_alert/css/sweetalert2.css" />
</head>
<body>
<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="/assets/login/js/login.js"></script>
	<script src="/assets/sweet_alert/js/sweetalert2.js"></script>
	<script src="/js/global.js"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
