@model Shared.Domain.Enums.Gender
<label for="@Model">Gender:</label>
<select asp-for="@Model">
	<option value="PreferNotToSay">Prefer Not to Say</option>
	<option value="Man">Man</option>
	<option value="Woman">Woman</option>
	
</select>