@using Shared.Domain.Enums
@using Shared.Application.Utility
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model PostModule.Application.Contract.StateApplication.CreateStateModel
@{
	ViewData["Title"] = "افزودن استان جدید";
	ViewData["Selected"] = "States";
}

<form class="col col-12" style="margin-right: 200px; margin-left: 200px" asp-action="Create" method="post" onsubmit="sweetAlertConfirmSubmit(event)" enctype="multipart/form-data">
	<div clas="col col-lg-6">
			@Html.EditorFor(x => x.Title)
		
	</div>

	<button type="submit" class="btn btn-success">
		ثبت
	</button>
	<a class="btn btn-danger "asp-action="Index" onclick="sweetAlertConfirmLink(event,'آیا مطمعنید؟')">
		انصراف
	</a>

</form>