<aside class="widget widget_mc4wp_form_widget">
	<h4 class="widget-title">خبرنامه</h4>
	<p class="newsletter__text">
		<i class="ui-email newsletter__icon"></i>
		برای اطلاع از آخرین خبرها مشترک شوید
	</p>
	<form class="mc4wp-form" method="post" onsubmit="AjaxCreateEmailUser(event)" >
		<div class="mc4wp-form-fields">
			<div class="form-group">
				<input type="email" name="EMAIL" id="inputEmailUser" placeholder="ایمیل" required="">
			</div>
			<div class="form-group">
				<input type="submit" class="btn btn-lg btn-color" value="عضویت">
			</div>
		</div>
	</form>
</aside> 

