<head>
	<title>@ViewData["Title"]</title>

	<meta charset="utf-8">
	<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="">


	<!-- Css -->
	<link rel="stylesheet" href="/assets/blog/css/bootstrap.min.css" />	
	<link rel="stylesheet" href="/assets/blog/css/font-icons.css" />
	<link rel="stylesheet" href="/assets/blog/css/style.css" />
	<link rel="stylesheet" href="/assets/site/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="/assets/sweet_alert/css/sweetalert2.css">
	<!-- Favicons -->
	
	@await Component.InvokeAsync("FavIcon")


	<!-- Lazyload (must be placed in head in order to work) -->
	<script src="assets/blog/js/lazysizes.min.js"></script>

</head>